header {
  font-family: 'Poppins', sans-serif;
  font-size: 16px; }

.header {
  height: 30rem; }
  .header__heading {
    color: #ff0000; }

.nav__menu {
  color: green; }

.nav__menu-item {
  font-size: 2rem; }
