* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.container {
     max-width: 1200px;
     margin: 0 auto;
     padding: 0 20px;
}

ul {
     margin: 0;
     padding: 0;
     list-style: none;
}

a {
     text-decoration: none;
}

@media  screen and (max-width:1000px) {
     .container{
          max-width: 768px;
          margin: 0 auto;
     }
}

@media screen and (max-width:768px) {
     .container {
          max-width: 600px;
          margin: 0 auto;
     }
}