footer {
     background-color: $darkGray_color;

     .nav_footer {
          display: flex;
          align-items: flex-end;
          padding: 40px 0px;

          &_left {
               display: flex;
               align-items: flex-start;
               justify-content: space-evenly;
               width: 50%;

               &_logo {
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    .logo img {
                         width: 20px;
                    }

                    &__heading {
                         font-family: $sourceSans_font;
                         font-weight: 600;
                         font-size: 20px;
                         line-height: 16px;
                         color: $white_color;
                         text-transform: uppercase;
                         margin-left: 10px;
                    }
               }

               &_address a {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    font-family: $sourceSans_font;
                    color: $textGray_color;
                    transition: .3s;

                    &:hover {
                         color: $white_color;
                    }
               }
          }

          &_right {
               display: flex;
               align-items: flex-end;
               justify-content: center;
               width: 50%;

               .copy {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    font-family: $sourceSans_font;
                    color: $textGray_color;
               }
          }
     }
}