@media screen and (max-width:768px) {
     .toggle {
          z-index: 2;
          

     &_bar {
          width: calc(0.7vw + 22.3px);
          height: calc(0.7vw + 13.3px);
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          cursor: pointer;

          .bar {
               background-color: $white_color;
               width: 100%;  
               height: 3px;
               border-radius: 5px;        
          }

          
     }
     }

     .nav {
          &_bar {
               input[type=checkbox]:checked ~ .nav .nav__menu  {
                display: block;
               }

               input[type=checkbox]:checked ~ .toggle label {
                    align-items: flex-start;
                    justify-content: flex-start;
               }

               input[type=checkbox]:checked ~ .toggle .bar {
                    background-color: $lightBlue_color;
               }

               input[type=checkbox]:checked ~ .toggle .bar:first-child {
                    width: 10px;
                    transform: rotate(-40deg);
                    transition: .3s;
               }

               input[type=checkbox]:checked ~ .toggle .bar:last-child {
                    width: 10px;
                    transform: rotate(40deg);
                    transition: .3s;
               }
          }

          &__menu {
          display: none;
          position: absolute;
          right: 0px;
          top: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, .5);
          backdrop-filter: blur(10px);
          height: 100vh;
          padding: 12vh 0;
          transition: .3s ease-out;
          z-index: 1;

          &-item {
          text-align: left;
          display: flex;
          justify-content: stretch;

          &__link {
               line-height: 40px;
               text-align: left;
               margin: 0;
               width: 100%;
               padding: 10px 100px 10px 20px;
          }
     }
     }
}
}